<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000000">
  
  {{ content_for_header }}
  
  <title>{{ page_title }}</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  <style>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'animations.css' | asset_url | stylesheet_tag }}
  </style>
  
  <script>
    window.theme = {
      strings: {
        addToCart: "{{ 'products.product.add_to_cart' | t }}",
        soldOut: "{{ 'products.product.sold_out' | t }}"
      }
    };
  </script>
</head>
<body>
  {% section 'header' %}
  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  
  <script>
    {{ 'theme.js' | asset_url | script_tag }}
  </script>
</body>
</html>
